*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.7s;
  }

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.952);
    height: 6vh;
    border-bottom: 0.6vh solid rgb(248, 56, 56);
}

#divValorant{
    padding-top: 11px;
}

#valorant{
    color: rgb(248, 56, 56);
    font-family: 'VALORANT', sans-serif;
    font-size: 4vh;
}

#divBusca{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 50px;
    height: 3.6vh;
    width:20vw;
    justify-content: space-around;
    gap: 110px;
}

.lupa{
    width: 2.1vh;
}

#txtBusca{
    font-style:italic;
    font-size:13px;
    background-color: transparent
}

#txtBusca::placeholder{
    color: rgb(255, 255, 255);
}

.direita{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

.car{
    width: 4vh;
}

.mail{
    width: 3vh;
}

#nick{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    font-size: 1.4vh;
}

#perfil{
    height: 4.5vh;
}

.conteudo{
    background-image: url(imgs/bg.jpg);
    background-color: rgba(0, 0, 0, 0.781) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    height: 94vh;
}



.nav-bar2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6vh;
    align-items: center;
}

.neon-top{
    background-color: rgba(109, 2, 2, 0.212);
    border-bottom: 0.5vh solid rgb(248, 56, 56);
    width: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vh;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.left{
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.content-porcent{
    display: flex;
    flex-direction: row;
    height: 170px;
    width: 100%;
    align-items: center;
}

.porcentagem{
    height: 27vh;
    padding-left: 1%;
    padding-top: 3%;
}

.content-title{
    margin-bottom: 1.5vh;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-valorant{
    color: white;
    font-family: 'VALORANT', sans-serif;
    font-size: 95px;
}

.content-description{
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 210px;
    line-height: 26px;
}

.description{
    color: #adadad;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.content-class-agent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 17px;
}

.name-classe{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.buttons-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.box-duelist{
    width: 145px;
    height: 40px;
    border-radius: 50px;
    background-color:#888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.duelist{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
}

.box-fav-agent{
    width: 195px;
    height: 40px;
    border-radius: 50px;
    background-color:#888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fav-agent{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.content-download{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-button-download{
    background-color: #F83838;
    border-radius: 3px;
    width: 250px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.mid-box-car{

    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.car-bot{
    height: 20vh;
    justify-content: end;
}

.right{
    height: 800px;
    width: 500px;
    display: flex;
}